<div class="layout-container">
  <div class="side-nav" [ngClass]="{'show': !isSidebarHidden}"
       role="navigation" aria-label="Main Navigation">
    <ul>
      <li *ngFor="let item of menuItems; let i = index"
          class="menu-item"
          [ngClass]="{'active': activeMenuIndex === i}"
          (click)="setActiveMenuItem(i)"
          role="menuitem"
          [attr.aria-selected]="activeMenuIndex === i ? 'true' : 'false'">
        <i class="pi" [ngClass]="item.icon" aria-hidden="true"></i>
        <span>{{ item.label }}</span>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="toolbar lg:mb-4" role="banner">
      <div class="col-12  flex flex-row justify-content-between align-items-center">
        <div class="flex align-items-center">
          <button class="hamburger-btn" (click)="toggleSidebar()" aria-label="Toggle Sidebar">☰</button>
          <p>DashBoard</p>
        </div>
        <div class="flex align-items-center">
          <span class="pi pi-bell mr-4 notification-icon" (click)="toggleNotification($event)" aria-label="View notifications">
            <span *ngIf="newDataAvailable" class="notification-badge pulse" aria-live="assertive"></span>
            <p-overlayPanel #overlayPanel [hidden]="!newDataAvailable" aria-live="polite">
              <div class="flex flex-column w-15rem" style="font-size: 14px;">
                <span class="new">
                  <span class="important">*</span>
                  New Data is available
                </span>
                <hr class="m-0">
                <span>
                  New Data is available
                </span>
                <hr class="m-0">
                <span>
                  New Data is available
                </span>
              </div>
            </p-overlayPanel>
          </span>
          <p-selectButton [options]="themeOptions"
                          [(ngModel)]="lightMode"
                          (onChange)="toggleTheme()"
                          optionLabel="label"
                          optionValue="value"
                          aria-label="Toggle theme">
            <ng-template let-option pTemplate="item">
              <i [ngClass]="option.value === 'Sun' ? 'pi pi-sun' : 'pi pi-moon'" aria-hidden="true"></i>
            </ng-template>
          </p-selectButton>
        </div>
      </div>
    </div>

    <div class="grid col-12 md:justify-content-end justify-content-center ">
      <div class="card flex shadow-3 box m-2" role="region" aria-labelledby="date-card">
        <div class="flex flex-column p-1">
          <p id="date-card">Date</p>
          <h3>{{currentDate}}</h3>
        </div>
        <p-divider layout="vertical" aria-hidden="true" />
        <div class="flex flex-column p-1">
          <p>Air Temperature</p>
          <h3>27°C</h3>
        </div>
      </div>
    </div>

    <div class="grid col-12 ml-0" >

        <div class="col flex flex-wrap m-2 col-divs shadow-3 box summary">
          <span class="w-full" role="region" aria-labelledby="summary-card" >
            <div class="summary-container" [ngSwitch]="activeIndex">
              <span class=" m-2 " *ngSwitchCase="0">
                <h4>Machine Vision Recognition Results</h4>
                <ul>
                  <li>
                    <strong>Success:</strong> 120 occurrences
                  </li>
                  <li>
                    <strong>Failure:</strong> 30 occurrences
                  </li>
                  <li>
                    <strong>Unknown:</strong> 15 occurrences
                  </li>
                </ul>
              </span>

              <div class="m-2 " *ngSwitchCase="1">
                <h4>Temperature and Rainfall Trends</h4>
                <p>
                  <strong>X-axis Label:</strong> Month
                </p>
                <p>
                  <strong>Y-axis Labels:</strong>
                </p>
                <ul>
                  <li>
                    <strong>Left:</strong> Temperature (°C)
                  </li>
                  <li>
                    <strong>Right:</strong> Rainfall (mm)
                  </li>
                </ul>
                <p><strong>Data Overview:</strong></p>
                <ul>
                  <li>Temperature ranges from 5°C (January) to 30°C (July), with the highest in July.</li>
                  <br>
                  <li>Rainfall fluctuates, with the highest recorded in April (120 mm) and the lowest in July (50 mm).</li>
                  <br>
                  <li>Data spans from January to December.</li>
                </ul>
              </div>

              <div class="m-2 " *ngSwitchCase="2">
                <h4>Daily Water Consumption</h4>
                <ul>
                  <li>
                    <strong>Total Days Covered:</strong> 31 days in January and 29 days in February.
                  </li>
                  <li>
                    <strong>Average Daily Consumption:</strong> Approx. 3.0 liters/day.
                  </li>
                  <li>
                    <strong>Data Coverage:</strong> January and February 2024.
                  </li>
                </ul>
              </div>
            </div>
            <div class="step-navigation">
              <button (click)="previousStep()" class="arrow-button left-arrow" aria-label="Previous Step">
                <i class="pi pi-arrow-left"></i>
              </button>
              <button (click)="nextStep()" class="arrow-button right-arrow" aria-label="Next Step">
                <i class="pi pi-arrow-right"></i>
              </button>
            </div>
          </span>
        </div>

        <div class="col flex flex-wrap m-2 col-divs shadow-3 box">
          <div class="flex flex-row justify-content-between w-full">
            <h4>Water Consumption</h4>
            <p-dropdown [options]="months"
                        [(ngModel)]="selectedMonth"
                        optionLabel="name"
                        (onChange)="toggleMonth($event)"
                        placeholder="Select a Month"
                        aria-label="Select month for water consumption"/>
          </div>
          <span class="flex justify-content-center w-full" aria-labelledby="bar-chart">
            <figure id="bar" aria-live="polite"></figure>
          </span>
        </div>

        <div class="col flex flex-wrap m-2 col-divs shadow-3 box">
          <h4>Object Recognition Performance Metrics</h4>
          <span class="flex justify-content-center w-full" aria-labelledby="pie-chart">
            <figure id="pie" aria-live="polite"></figure>
          </span>
        </div>
        <div class="col flex flex-wrap m-2 col-divs shadow-3 box">
          <h4>Monthly Weather Patterns: Temperature & Rainfall</h4>
          <span class="flex justify-content-center w-full " aria-labelledby="Combined Bar and Line Chart">
            <figure id="combined" aria-live="polite"></figure>
          </span>
        </div>
    </div>
  </div>
</div>
